body {
  margin: 0;
  padding: 0;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: bold;
  background-color: black;
  color: #ff2cd8;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.glow {
  text-shadow:
    0 0 10px #ff2cd8,
    0 0 20px #ff2cd8;
}
.head {
  text-align: center;
  background-color: #ff2cd8;
  color: black;
  margin: 0;
}
.title {
  margin: 0;
  padding: 50px;
  font-size: 2.5rem;
  text-shadow:
    0 0 10px #535353,
    0 0 20px #ffffff;
}

.remain {
  text-align: center;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.random {
  font-size: 5.5rem;
}
.submit-btn{
    color: #ff2cd8;
    background-color: black;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid #ff2cd8;
    margin-top: 20px;
}
.submit-btn:hover{
    color: black;
    background-color: #ff2cd8;
    text-shadow:
    0 0 10px #535353,
    0 0 20px #ffffff;
}
.space-number{
    display: flex;
    gap: 55px;
}
.footer {
  background-color: #ff2cd8;
  color: black;
  text-shadow:
    0 0 10px #535353,
    0 0 20px #ffffff;
    font-size: 1.5rem;
  text-align: center;
  margin-top: auto;
}
